/* Container */
.home_container { 
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  text-align: center; 
  background-color: var(--body-color);
}

@media screen and (max-width: 800px) { /* Changes from row to col when screen shrinks*/
  .home_container {
    grid-template-columns: 1fr; 
  }
}

.home_img_container {
  position: relative;
  width: 84%;
}

.image_background_container {
  top: 0;
  left: 0;
  fill: var(--back-color);
}

.image_background {
  width: 100%;
}

.our_img {
  position: absolute;
  width: 85%;
  right: 0;
  top: 25px;
  border-radius: 50%;
}

.home_content_container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}

.home_content_title {
  padding: 1rem;
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.home_content_text {
  padding: 0.5rem;
  font-size: var(--mid-font-size);
  color: #000000;
}

.countdown_container {
  width: 100%;
}

.rsvp_btn {
  margin-top: 25px;
  margin-left: 15px;
  padding: 10px 25px;
  font-size: x-large;
  color: white;
  background-color: #9f73de;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  transition-duration: 0.3s;
}

.rsvp_btn:hover {
  box-shadow: 0 8px 10px 0 gray;
}