.registry_container{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: center; 
    background-color: var(--body-color);

    /* From Details.css */
    h2{
        justify-self: center;
        padding: 22px;
        color: var(--title-color);
    }

    p{
        padding: 18px;
        font-size: var(--mid-font-size);
    }

    .left{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        max-width: 440px;
    }

    .psa {
        background-color: var(--back-color);
        border-radius: 50px;
        padding: 2%;
    }

    .registry{
        grid-row: 2;
        background-color: var(--back-color);
        border-radius: 50px;
        padding: 3%;
    }

    .right{
        max-width: 440px;
    }

    .fund {
        background-color: var(--back-color);
        border-radius: 50px;
        padding: 5%;
    }

    /* From Home.css */
    .registry_btn {
        padding: 10px 25px;
        font-size: large;
        color: white;
        background-color: var(--title-color);
        border-radius: 8px;
        border: none;
        box-shadow: none;
        transition-duration: 0.3s;
    }

    .registry_btn:hover {
        box-shadow: 0 8px 10px 0 gray;
    }
}

@media screen and (max-width: 800px) { /* Changes from row to col when screen shrinks*/
  .registry_container {
    grid-template-columns: 1fr; 

    .fund{
        margin-top: 10px;
    }
  }
}