.main-content {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 100vh;
  border-left: 2rem solid var(--back-color); 
  border-right: 2rem solid var(--back-color); 
}

/* Navbar */
.navbar-brand {
  font-family: var(--second-font);
  font-size: var(--h1-font-size) !important;
  color: var(--first-color) !important;
}
.navlink{
  color: var(--title-color) !important;
  font-weight: var(--font-semi-bold) !important;
  font-size: var(--mid-font-size) !important;
}
.navlink:hover {
  color: var(--first-color) !important;
}
.active {
  color: var(--first-color) !important;
}

/* Footer */